<div class="hero bg-base-200/40 shadow-md ">
  <div class="hero-content text-center">
    <div class="max-w-xl min-h-80 flex flex-col items-center justify-center">
      <h1 class="text-4xl font-bold">hey there!</h1>
      <p class="py-6">
          random text tgat is a bit longer than the hero title
      </p>
      <button class="btn btn-primary">get started</button>
    </div>
  </div>
</div>
