@import "tailwindcss";


@plugin "./daisyui.js";
@plugin "./daisyui-theme.js"{
    name: "hanz";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: hsl(5 100% 13%);
    --color-base-200: hsl(5 100% 23%);
    --color-base-300: hsl(5 100% 33%);
    --color-base-content: #fffafa;
    --color-primary: #e61300;
    --color-primary-content: #FfFafa;
    --color-secondary: #9e4f00;
    --color-secondary-content: #fffafa;
    --color-accent: #cf751b;
    --color-accent-content: #fffafa;
    --color-neutral: #240300;
    --color-neutral-content: #FFFAFA;
    --color-info: oklch(54% 0.245 262.881);
    --color-info-content: #fffafa;
    --color-success: oklch(87% 0.15 154.449);
    --color-success-content: #240300;
    --color-warning: oklch(39% 0.141 25.723);
    --color-warning-content: #fffafa;
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: #fffafa;
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.28125rem;
    --size-field: 0.28125rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}
